<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGVCcl50yRpGTY-hSMRsCezuskI4mKbXI</string>
	<key>GCM_SENDER_ID</key>
	<string>495285490742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappfirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappfirebase-aa5f9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappfirebase-aa5f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495285490742:ios:00b2e4b88896b19300f497</string>
</dict>
</plist>